<div class="container">
  <div class="mode">

    <form [formGroup]="form" (ngSubmit)="submit()">
      <h3 class="heading">{{heading}}</h3>
      <input type="text" placeholder="Name" formControlName="name" />
      <input type="text" placeholder="Surname" formControlName="surname" />
      <input type="text" placeholder="Experience" formControlName="experience" />

      <div class="genders">
        <label>Female</label>
        <input type="radio" class="gender" name="gender" value="Female" formControlName="gender" />
        <label>Male</label>
        <input type="radio" class="gender" name="gender" value="Male" formControlName="gender" />
      </div>
      <input type="file" (change)="onFileSelected($event)" formControlName="img">
      <video width="210" controls>
        <source [src]="video" type="video/mp4">
      </video>
      <input type="date" formControlName="date" >
      <!-- <video [src]="selectedImage" *ngIf="selectedImage" alt="Selected Image"> -->
        
        <input type="email" placeholder="Email" formControlName="email" />
      <input type="number" placeholder="Phone" formControlName="phone" />
      <div *ngIf="display">
        <input type="text" placeholder="Price" formControlName="price" />
        <input type="text" placeholder="Description" formControlName="description" />
      </div>
      <input type="submit" id="btn" value="Submit" />


    </form>

    <!-- <button type="button" id="btn" (click)="deleting()">Delete</button> -->

    <div *ngIf="display">
      <h3>{{form.value.name}}</h3>
      <img [src]="form.value.img" *ngIf="form.value.img" alt="Selected Image">
      <h3>{{form.value.surname}}</h3>
      <h3>{{form.value.experience}}</h3>
      <h3>{{form.value.email}}</h3>
      <h3>{{form.value.phone}}</h3>
    </div>
    <img [src]="photo" *ngIf="photo" alt="Selected Image">

    <!-- ============================================== -->

  </div>
</div>